<%= simple_form_for(@property) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <h1>Metragem</h1>
  <div class="form-group">
    <%= f.label :footage, class: "control-label col-md-5" %>
    <div class="col-md-9">
      <% @property.footage.each do |key, value| %>
        <div class="form-group">
          <%= label_tag key %>
          <%= number_field_tag key, "", class: "form-control", type: "number", step: "0.01" %>
        </div>
      <% end %>
    </div>
  </div>
  <h1>Endereco</h1>
  <div class="form-group">
    <%= f.label :address, class: "control-label col-md-5" %>
    <div class="col-md-9">
      <% @property.address.each do |key, value| %>
        <div class="form-group">
          <%= label_tag key %>
          <%= text_field_tag key, "", class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
  <h1>Servicos</h1>
  <div class="form-group">
    <%= f.label :services, class: "control-label col-md-5" %>
    <div class="col-md-9">
      <% @property.services.each do |key, value| %>
        <div class="checkbox">
          <%= label_tag key %>
          <%= check_box_tag "property[services][#{key}]", true %>
        </div>
      <% end %>
    </div>
  </div>
  <h1>Lazer</h1>
  <div class="form-group">
    <%= f.label :leisure, class: "control-label col-md-5" %>
    <div class="col-md-9">
      <% @property.leisure.each do |key, value| %>
        <div class="checkbox">
          <%= label_tag key %>
          <%= check_box_tag "property[leisure][#{key}]", true %>
        </div>
      <% end %>
    </div>
  </div>
</div>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
