<%= simple_form_for @property do |f| %>
  <% @property.attributes.each do |attribute_name, value| %>
    <% if attribute_name == "footage" %>
      <%= f.input attribute_name.to_sym do %>
        <h3><%= t("#{attribute_name}") %></h3>
        <%= f.fields_for attribute_name.to_sym, value do |ff| %>
          <%= ff.input :area_do_terreno, label: t("area_do_terreno"), input_html: { step: 0.01 }, required: false %>
          <%= ff.input :area_construida, label: t("area_construida"), input_html: { step: 0.01 } %>
          <%= ff.input :area_total, label: t("area_total"), input_html: { step: 0.01 }, readonly: true %>
        <% end %>
      <% end %>
    <% else %>
      <% if value == false %>
        <%= f.input attribute_name.to_sym, as: :boolean, label: t("#{attribute_name}") %>
      <% else %>
        <%= f.input attribute_name.to_sym, label: t("#{attribute_name}"), input_html: { step: 0.01 } %>
      <% end %>
    <% end %>
  <% end %>
  <%= f.button :submit %>
<% end %>
