<%= simple_form_for @property do |f| %>
  <h3><%= t(:address.to_s) %></h3>
  <%= f.fields_for :address do |ff| %>
  <%= ff.input :cep, input_html: { class: "form-control", id: "cep", "data-controller": "cep", "data-action": "blur->cep#buscarEndereco", "data-cep-target": "cep" } %>

  <%= ff.input :logradouro, input_html: { class: "form-control", id: "logradouro", "data-cep-target": "logradouro" } %>

  <%= ff.input :bairro, input_html: { class: "form-control", id: "bairro", "data-cep-target": "bairro" } %>

  <%= ff.input :cidade, input_html: { class: "form-control", id: "cidade", "data-cep-target": "cidade" } %>

  <%= ff.input :estado, input_html: { class: "form-control", id: "estado", "data-cep-target": "estado" } %>
<% end %>


<div>
  <h3><%= t(:footage.to_s) %></h3>
  <% @property.footage.each do |key, value| %>
    <%= f.label t(key.to_s) %>
    <%= f.number_field key, label: t(key.to_s) %>
  <% end %>
    <h3><%= t(:services.to_s) %></h3>
  <div class="d-flex">
    <% @property.services.each do |key, value| %>
      <%= f.input key, as: :boolean, label: t(key.to_s) %>
    <% end %>
  </div>
    <h3><%= t(:leisure.to_s) %></h3>
  <div class="d-flex">
    <% @property.leisure.each do |key, value| %>
      <%= f.input key, as: :boolean, label: t(key.to_s) %>
    <% end %>
  </div>
  <h3><%= t(:social.to_s) %></h3>
  <div class="d-flex">
    <% @property.social.each do |key, value| %>
      <%= f.input key, as: :boolean, label: t(key.to_s) %>
    <% end %>
  </div>
  <h3><%= t(:intimate.to_s) %></h3>
  <div>
    <% @property.intimate.each do |key, value| %>
      <%= f.label t(key.to_s) %>
      <%= f.number_field key, label: t(key.to_s) %>
    <% end %>
  </div>
  <h3><%= t(:cabinet.to_s) %></h3>
  <div class="d-flex">
    <% @property.cabinet.each do |key, value| %>
      <%= f.input key, as: :boolean, label: t(key.to_s) %>
    <% end %>
  </div>
  <h3><%= t(:floor.to_s) %></h3>
  <div class="d-flex">
    <% @property.floor.each do |key, value| %>
      <%= f.input key, as: :boolean, label: t(key.to_s) %>
    <% end %>
  </div>
  <h3><%= t(:infrastructure.to_s) %></h3>
  <div class="d-flex">
    <% @property.infrastructure.each do |key, value| %>
      <%= f.input key, as: :boolean, label: t(key.to_s) %>
    <% end %>
  </div>
</div>
  <%= f.button :submit %>
<% end %>


<%# @property.address.each do |key, value| %>
    <%#= f.label t(key.to_s) %>
    <%#= f.number_field key, label: t(key.to_s) %>
  <%# end %>
