<div id="<%= dom_id property %>">
  <p>
    <strong>Footage:</strong>
    <%= property.footage %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= property.services %>
  </p>

  <p>
    <strong>Leisure:</strong>
    <%= property.leisure %>
  </p>

  <p>
    <strong>Social:</strong>
    <%= property.social %>
  </p>

  <p>
    <strong>Intimate:</strong>
    <%= property.intimate %>
  </p>

  <p>
    <strong>Cabinet:</strong>
    <%= property.cabinet %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Primary date:</strong>
    <%= property.primary_date %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= property.floor %>
  </p>

  <p>
    <strong>Infrastructure:</strong>
    <%= property.infrastructure %>
  </p>

  <p>
    <strong>Finality:</strong>
    <%= property.finality %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= property.category %>
  </p>

  <p>
    <strong>Intention:</strong>
    <%= property.intention %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= property.location %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= property.published %>
  </p>

  <p>
    <strong>Highlighted:</strong>
    <%= property.highlighted %>
  </p>

  <p>
    <strong>User:</strong>
    <%= property.user_id %>
  </p>

</div>
