<div id="<%= dom_id property %>">
<p>
    <strong>title:</strong>
    <%= property.title %>
  </p>
 <p>
    <strong>Descricao:</strong>
    <%= property.description %>
  </p>
  <p>
 <strong>Footage:</strong>
<%= property.footage %><br>

<strong>Footage:</strong>
<% property.footage.each do |key, value| %>
  <%= key.humanize.titleize %>: <%= value.to_f %><br>

<% end %>

  <% area_total =  property.footage['area_do_terreno'].to_f + property.footage['area_construida'].to_f  %>
   Area Total = <%= area_total %>
  </p>
  <p>
    <strong>Services:</strong>
    <%= property.services %>
    <strong>Services:</strong>
<% property.services.each do |key, value| %>
  <% if value == "1" %>
    <%= key.humanize.titleize %>: true<br>
  <% end %>
<% end %>
<strong>Services:</strong>
<% property.services.each do |key, value| %>
  <% if value == "1" %>
    <%= key.humanize.titleize %><br>
  <% end %>
<% end %>

  <p>
    <strong>Leisure:</strong>
    <%= property.leisure %>
  </p>

  <p>
    <strong>Social:</strong>
    <%= property.social %>
  </p>

  <p>
    <strong>Intimate:</strong>
    <%= property.intimate %>
  </p>

  <p>
    <strong>Cabinet:</strong>
    <%= property.cabinet %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= property.floor %>
  </p>
<strong>Footage:</strong>
<% property.footage.each do |key, value| %>
  <%= t("#{key}") %>: <%= value.to_f %><br>
<% end %>

  <p>
    <strong>Infrastructure:</strong>
    <%= property.infrastructure %>
  </p>

  <p>
    <strong>Finality:</strong>
    <%= property.finality %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= property.category %>
  </p>

  <p>
    <strong>Intention:</strong>
    <%= property.intention %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= property.location %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= property.published %>
  </p>

  <p>
    <strong>Highlighted:</strong>
    <%= property.highlighted %>
  </p>

  <p>
    <strong>User:</strong>
    <%= property.user_id %>
  </p>

</div>
